# Ignore Emacs temp files
*~

# Ignore all installed node modules
**/node_modules/*

# Ignore Eclipse files
.project
.settings/com.eclipsesource.jshint.ui.prefs

# Ingore OS nonsense
.DS_Store

# Ignore all build/compilation artifacts
**/build/*
*.pyc
